@import "../../../globalStyles/scss/variables.scss";

.side-nav {
  $item-height: 3.7rem;
  max-width: calc(100vw - 5rem);
  width: 30rem;

  .dynamic-nav {
    background-color: $gray-dark2;
    padding-bottom: $item-height/2;

    .side-nav__menu-item-link {
      // text-transform: uppercase;
      cursor: pointer;
    }
  }

  .static-nav {
    margin-left: 2rem;
    padding-top: $item-height * 0.75;
    list-style-type: disc;
    color: $white;

    li a {
      padding-left: 0;
    }
  }

  &__menu-item {
    border-bottom: 1px solid $gray-dark;
    display: grid;
    height: $item-height;

    &:last-child {
      border-bottom: none;
    }

    &-link,
    &-back span {
      align-items: center;
      color: $white;
      display: flex;
      font-weight: normal;
      padding: $spacer;
      text-decoration: none;
      transition: 0.3s;

      svg * {
        fill: currentColor;
      }
    }

    &-logo {
      align-self: center;
      padding: 0.75rem $spacer;

      svg {
        height: 1.5rem;
      }
    }

    &-link,
    &-more,
    &-back,
    &-close {
      transition: 0.3s;

      &:hover {
        color: $ushop-red;
      }

      svg * {
        fill: currentColor;
      }
    }

    &-close,
    &-more,
    &-back {
      &:hover {
        cursor: pointer;
      }
    }

    &-more {
      align-self: center;
      padding: 1.25rem 1.75rem;
      color: $ushop-red;
    }

    &-back {
      svg {
        margin-right: 1rem;
      }
    }

    &-close {
      align-items: center;
      display: flex;
      height: $item-height;
      justify-content: center;

      span {
        background-color: currentColor;
        border-radius: 1px;
        height: 3px;
        width: 24px;
      }

      &:hover {
        color: $ushop-red;
      }
    }

    &--has-subnavigation,
    &--parent {
      grid-template-columns: 1fr $item-height;
    }

    &--parent {
      color: $gray;

      a {
        color: inherit;
      }
    }
  }
}
