@import "../../../globalStyles/scss/variables.scss";

.main-menu {
  align-items: stretch;
  background-color: $white;
  border-bottom: 1px solid $gray-light;
  display: flex;
  flex-direction: row;
  height: 5.625rem;
  position: relative;
  
  transition:transform 0.3s ease-out;


  @media (max-width: $medium-screen){
    height: 4rem;
    background-color: $white;

    &.ushop-fix {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      box-shadow: 1px 1px 20px rgba(0,0,0,.15); 
      z-index: 10;
    }
  }

  &__top {
    flex-basis: 100%;
  }

  &__left {

    @media (max-width: $medium-screen) {
      flex-basis: calc(4rem);
    }

    ul {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__right {
    flex-basis: calc(50% - 2rem);

    @media (max-width: $medium-screen) {
      flex-basis: calc(4rem);
    }

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center ;
      height: 100%;
      
      li{ font-size: .9em; }
    }
  }

  &__center {
    align-self: center;
    flex-basis: calc(100% - 10rem);
    @media (max-width: $medium-screen) {
      flex-basis: calc(100% - 8rem);
    }
    img {
      display: inline-block;
      width: 3rem;
      margin-top: -1rem;
      vertical-align: middle;

      @media (min-width: $small-screen) {
        width: 5rem;
      }
    }

    ul.large-menu{
      display: flex;
      justify-content: center;
      margin: 0px;
      padding: 0px;
      margin-right: calc(-10%);

      li {
        display: inline-block;
        height: 5.625rem;
        line-height: 5.625rem;
        padding: 0px 1rem;
        
        &:nth-child(1) a:after{ color: #ED1B24 }
        &:nth-child(2) a:after{ color: #5381C7 }
        &:nth-child(3) a:after{ color: transparent }
        &:nth-child(4) a:after{ color: #059C2F }
        &:nth-child(5) a:after{ color: #FFC000 }
  

        a{
          display: inline-block;
          font-family: $base-font-family;
          font-weight: 600;
          text-transform: uppercase;
          position: relative;

          @media (max-width: 1240px) {
            font-size: .9em;
          }

          &:hover:after, &.active:after{ display: block }
          &:after{ position: absolute;
            width: 100%;
            content: " . . . . . ";
            display: none;
            font-size: 1.5em;
            font-weight: 700;
            height: 10px;
            line-height: 0;
            bottom: 25px;
            left: 0px;
            text-align: center;
          }
        }
      }
    }
  }

  &__item {
    font-weight: $bold-font-weight;
    height: 100%;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $base-font-color;
      position: relative;
      transition: 0.3s;

      &:hover {
        color: $turquoise;
      }
    }
  }

  &__hamburger {
    // border-right: 1px solid $gray-light;
    cursor: pointer;
    padding: $spacer;

    &--hover {
      display: none;
    }

    &:hover {
      .main-menu__hamburger--icon {
        display: none;
      }

      .main-menu__hamburger--hover {
        display: block;
      }
    }

    svg {
      vertical-align: middle;
    }
  }

  &__item,
  &__hamburger {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    padding: 0 $spacer;
    cursor: pointer;

    svg * {
      transition: 0.3s;
    }

    &:hover {
      svg * {
        fill: $turquoise;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__cart {
    display: inline-block;
    position: relative;
    padding: $spacer;

    div { display: inline-block;}

    & > a { display: inline-block; padding: $spacer; }

    &__quantity {
      position: absolute;
      bottom: 0.6rem;
      right: 0.6rem;
      background-color: $ushop-red;
      border-radius: 1rem;
      padding: 0 0.3rem;
      min-width: 1rem;
      height: 1rem;
      color: $white;
      font-size: $small-font-size;
      text-align: center;
      line-height: 1rem;
      transition: 0.3s;
      // border: 1px solid $white;
    }
  }

  &__user {
    &--active * {
      fill: $turquoise;
      fill-rule: inherit;
    }
  }

  &__dropdown {
    text-transform: uppercase;
    font-weight: $bold-font-weight;

    li {
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        color: $gray;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $gray-light;
      }
    }
  }

  &__offline {
    line-height: 24px;
    padding: $spacer;

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      vertical-align: bottom;
    }
  }
  &__order-button{
    border: 2px solid #d9230f;
    border-radius: 20px;
    padding: 3px 12px 3px 8px;
    text-transform: uppercase;
    margin-right: 5px;
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 13px;
    color: #d9230f;
    
    &:hover{
      background-color: #d9230f;
      color: #fff;
    }

    @media (max-width: $small-screen) {
      // padding: 3px;
      font-size: 12px;
    }

  }

  &__search {
    cursor: pointer;
    line-height: 24px;
    transition: 0.3s;
    font-size: $base-font-size*.75;

    @media (max-width: 325px) {
      font-size: $base-font-size*.55;
    }


    & > a {    
      display: inline-block;
      width: 100%;
      border-radius: $spacer*2;
      background: #f1f1f1;
      padding: $spacer*.5 0 $spacer*.5 $spacer;    

      .search-icon { margin-right: $spacer*.5 ;}
    }

    @media (min-width: $medium-screen) {
      border-left: 1px solid $gray-light;
    }

    svg * {
      transition: 0.3s;
    }

    &:hover {
      color: $black-dark;
      svg * {
        fill: $black-dark;
      }
    }

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-right: $spacer;
    }

    div {
      display: inline-block;
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__nav-dropdown {
    padding: 0 1.5rem;

    &--active {
      background-color: $turquoise-light;
    }

    & > li:first-child {
      text-align: center;
    }

    &__body {
      background: $white;
      border-top-color: $gray-light;
      border-top-style: solid;
      border-top-width: 1px;
      display: none;
      left: 0;
      padding: 2rem;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 3;

      &--visible {
        display: block;
      }

      li *,
      ul * {
        display: block !important;
      }

      > ul > li {
        align-self: flex-start;
        margin-left: 2rem;
        position: relative;
        width: 188px;

        // 2nd level name
        > a {
          font-size: $base-font-size;
          position: relative;
          text-transform: uppercase;
          padding-bottom: 9px;
          margin-bottom: 3px;
        }
        > ul > li:first-child {
          position: relative;

          &:before {
            background-color: $turquoise-light;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: -3px;
            width: 100%;
          }
        }

        ul {
          // 3rd+ level names
          a {
            font-size: $small-font-size;
            font-weight: normal;
            padding: 6px 0;
            text-transform: capitalize;
          }

          li > ul {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
