.u- {
  &lead {
    font-size: $h3-font-size;
    font-weight: $bold-font-weight;
    line-height: normal;
    padding-bottom: 10px;

    &--bold {
      color: $gray-dark;
      font-weight: $extra-bold-font-weight;
    }
  }

  &uppercase {
    text-transform: uppercase;
  }

  &link {
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
  }
}
.t-c{
  text-align: center;
}
.m-b3{
  margin-bottom: $spacer*3;
}
.m-t3{
  margin-bottom: $spacer*3;
}

.ushop-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: $spacer*3;
  width: 100%;

  & > h4 { font-size: 12px; font-weight: normal; }
  & > h3 { font-size: 22px; font-weight: bold; }
}

.ushop-price-table{
  margin: 0;

  td { 
    padding: $spacer*.5 $spacer;
  }
  td:last-child { 
    text-align: right;
  }
}