@import "../../../globalStyles/scss/variables.scss";

button.button {
  background-color: $black;
  transform: $button-transform;
  padding: $button-padding;
  border: 2px solid $black;
  box-shadow: $button-box-shadow;
  transition: $button-transition;
  outline: none;
  font-family: $base-font-family;
  cursor: pointer;
  border-radius: 4px;

  @media (max-width: $small-screen) {
    padding: $button-padding-small-screen;
    width: 100%;
    max-width: 100%;
  }
  &.full {
    width: 100%;
    max-width: 100%;
  }
  > span {
    display: inline-block;
    color: $white;
    font-size: $button-font-size;
    text-transform: $button-text-transform;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    transform: $button-content-transform;
  }

  &.small {
    > span {
      font-size: 1rem;
      font-weight: $button-font-weight;
      line-height: 1rem;
    }
  }

  &:hover {
    background-color: $gray-dark;
  }

  &:active {
    box-shadow: $button-box-shadow-clicked;
  }

  &.secondary {
    background-color: $white;
    border: 2px solid $black;

    * {
      color: $blue;
    }

    &:hover {
      background-color: $blue;

      * {
        color: $white;
      }
    }

    &:active {
      background-color: $blue-dark;
    }
  }

  &:disabled {
    background-color: $gray;

    &,
    &:hover {
      cursor: default;
    }
  }
}
